.search-container {
  position: relative;
}
.biz_owner_search_modal_container {
  position: absolute;
  top: 0;
  background-color: rgb(245, 248, 250);
  border: 2px solid #c5e2f8;
  padding: 4px 4px 12px 4px;
  z-index: 3;
  width: 150%;
  left: -25%;
  height: fit-content;
  border-radius: 5px;
  box-shadow: 0px 7px 18px #a3d2f9ce;
}
.cursor-block{
  cursor: not-allowed;
}

.biz_owner_close_modal {
  position: absolute;

  right: 2px;
  font-weight: bolder;
  cursor: pointer;
  border: 2px solid #c5e2f8;
  z-index: 1;
  padding: 2px;
  padding-left: 3px;
  padding-right: 3px;
  margin-left: 3px;
  border-radius: 55%;
}
.biz_owner_close_modal:hover {
  background-color: #c5e2f8;
}

#biz_owner_search_input {
  border-radius: 0;
  padding-top: 2rem;
}
.biz_owner_search_bar {
  background-color: #f5f8fa;
  border: none;
  outline: 0;
  padding: 4px;
}
.biz_owner_search_options_value:hover {
  background-color: #deedf7;
}
#biz_owner_search_options {
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  padding: 3px;
}
.biz-owner-filter-icons {
  height: 20px !important;
  width: 18px !important;
  align-items: center !important;
}
@media screen and (max-width: 350px) {
  .biz-owner-filter-icons {
    height: 20px !important;
    width: 10px !important;
    align-items: center !important;
  }
  #biz-owner-filter-icons-price {
    height: 20px !important;
    width: 19px !important;
  }
  .biz-owner-filter-icons-clear {
    height: 20px !important;
    width: 15px !important;
  }
}
