/* @import url('https://fonts.cdnfonts.com/css/helvetica-neue-9'); */
/* @import url('https://fonts.cdnfonts.com/css/helvetica-neue-9'); */

.family-font {
  /* font-family: 'Helvetica Neue' !important; */
  font-family: 'Arimo' !important;
}

.hero-main {
  background-image: url('../../../assets/landing-bg/hero-bg.jpg');
  /* min-height: 600px; */
  max-width: 100%;

  /* height: 100vh; */

  background-repeat: no-repeat;
  background-size: cover;
  background-position: fixed;
  /* font-family: 'Helvetica Neue' !important; */
  font-family: 'Arimo' !important;
}

.g-bg-color1 {
  background-color: #081c3d;
  padding: 20px 0px;
}

.business-heading {
  font-size: 26px;
  font-weight: 100 !important;
}
@media (min-width: 768px) {
  .owner-btn {
    width: 138px;
  }
}
@media (max-width: 576px) {
  .business-heading {
    font-size: 20px;
  }
}

/* *{
 font-family: 'Helvetica Neue';
} */
.selected-color::selection {
  background-color: #00a3ef;
}

.landing-screen-bg {
  position: absolute;
  width: 766px;
  /* height: 335px; */
  padding: 25px 0px;
  /* left: calc(50% - 806px/2); */
  /* top: 162px; */
  background: rgba(40, 40, 40, 0.08);
  backdrop-filter: blur(13px);
  border-left: 1px solid white;
  border-radius: 25px;
  /* font-family: 'Helvetica Neue' !important  ; */
  font-family: 'Arimo' !important;
}
/* .css-4lktu6-control {
  font-family: 'Helvetica 25 UltraLight', sans-serif !important;
  font-weight: 600 !important;
  color: black !important;
} */
.landing-front-text {
  /* margin-top: -5%; */
  /* width: 744px;
height: 56px; */
  left: calc(50% - 734px / 2);
  top: 214px;

  /* font-family: 'Helvetica Neue' !important; */
  font-family: 'Arimo' !important;

  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 190%;
  /* or 95px */
  text-align: center;

  /* White */

  color: #ffffff;

  text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
}

.chose-category {
  width: 272px;
  height: 50px;
  left: calc(50% - 287px / 2 - 0.5px);
  top: 299px;
  display: flex;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 50px;
}

.end-border-business {
  border-right: 1px solid #ffffff;
  /* height: 107px; */
  /* display: flex; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin: 20px 0px; */
}

.last {
  border-right: none !important;
}

.owner-btn {
  /* width: 144px; */
  height: 50px;
  text-align: center;
  /* left: calc(50% - 144px/2 - 72px);  */
  top: 299px;

  /* Light Blue */

  /* background: #00A3EF; */
  border-radius: 50px;
}

.inner-hero {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-hero > div > h1 {
  font-size: 5rem;
  color: white;
}

.hero-inner-footer {
  color: #c1c1c1;
  line-height: 10.8px;
  font-size: 14px;
  font-weight: 400;
  /* font-family: 'Helvetica 25 UltraLight', sans-serif; */
  font-family: 'Arimo' !important;
}

.headings {
  line-height: 20px;
}

.bg-overlay {
  background-color: rgba(0, 0, 0, 0.6);
}

.bg-category {
  background-color: rgba(0, 0, 0, 0.6);
}

.HeroSection_box {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
}

.hero-icon {
  font-size: 10em;
  color: white;
}

.border-color {
  border-left: 2px solid gray;
  height: 82px;
}

.text-colors {
  /* font-family: 'Helvetica 25 UltraLight', sans-serif; */
  font-family: 'Arimo' !important;

  font-size: 14px;
  font-weight: lighter;
  line-height: 1.3rem;
  margin-top: 5px;
}

.border-bottom-color {
  border-bottom: 1px solid #ced8ea;
}

/* .blur-end-border{
  border-bottom: 2px solid lightblue;
} */

@media (max-width: 991px) {
  .hero-main {
    max-width: 100%;
    /* height: 100vh; */
  }

  .landing-screen-bg {
    margin: auto;
    width: 600px;
    height: 310px;
  }
}

@media (max-width: 778px) {
  .landing-screen-bg {
    box-sizing: border-box;
    position: absolute;
    width: 90vw;
    /* height: auto; */
    /* padding: 0px; */
    background: none;
    /* backdrop-filter: none; */
    border-left: none;
    border-radius: none;
  }
}

@media (max-width: 786px) {
  .landing-front-text {
    font-size: 40px;
  }
  .g-text {
    top: -39px !important;
    position: relative;
  }
}

@media (max-width: 576px) {
  .landing-screen-bg {
    width: 85%;
    backdrop-filter: blur(3px);
  }
  .end-border-business {
    border: none !important;
  }
  .owner-btn {
    /* width: 138px; */
    height: 42px;
  }

  .chose-category {
    width: 239px;
    height: 42px;
  }

  .landing-front-text {
    font-size: 25px;
  }

  .btn.btn-primary {
    padding: 10px;
  }

  .g-text {
    top: 0px !important;
  }

  .search-bar {
    width: 71%;
    height: 117px;
  }

  .end-border-business {
    margin: 0;
  }

  .card .card-body {
    padding: 2rem;
  }

  .headings {
    font-size: 14px;
    line-height: 15px;
    text-align: center;
  }

  .g-bg-color1 {
    display: block;
  }
}
