<IfModule mod_rewrite.c>

  RewriteEngine On
  #RewriteBase /
  RewriteCond %{REQUEST_URI} !^/index.html$
  #RewriteRule ^index\.html$ - [L]
RewriteCond %{REQUEST_URI} !\.(css|gif|ico|jpg|js|png|swf|txt|svg|woff|ttf|eot)$

  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-l
  RewriteRule . /index.html [L]

</IfModule>
