.tools-column {
    position: absolute;
    top: 0;
    right: 0;
}
.tools{
    font-weight: normal;
}
.bizOwner-headings {
    font-size: 22px;
    color: #00A3EF;
    line-height: 1.3;
    margin-bottom: 8px;
    font-weight: 100;
}

.bizOwner-parag {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    height: 78px;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 17px;
    line-height: 26px;
    margin-bottom: 0;
    font-weight: lighter;
}
.recent-insights-row {
    position: relative;
}
.learning-heading{
    font-size: 32px;
    font-weight: normal;
}

.buy-bg {
    background-color: #3494de;
    padding-top: 20px;
}

.cards-bg {
    background-color: #2570a7;
    padding: 30px 0px;
}
.bizOwner-bg-color {
    background-color: #00A3EF;
}

.bizOwner-headings {
    font-size: 24px;
    color: #00A3EF;
    line-height: 1.3;
    margin-bottom: 8px;
    font-weight: lighter;
}

.bizOwner-top-headings {
    color: #fff;
    font-size: 38px;
    max-width: 1140px;
    margin: 0 auto;
    line-height: 1;
    font-weight: normal;
}

.bizOwner-lead-heading {
    font-size: 22px;
    font-weight: lighter;

}

.bizOwner-parag {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    height: 78px;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 17px;
    line-height: 26px;
    margin-bottom: 0;
    font-weight: lighter;
}

.smVsbg-img {
    float: left;
    max-width: 100%;
    /* height: 100vh; */
    display: block;
    /* height: 193px; */
    background-image: url('../../../assets/images/steppersInnerImages/buying-a-small-business-vs-big-business.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}

.smBvalue-img {
    float: left;
    max-width: 100%;
    /* height: 100vh; */
    display: block;
    /* height: 193px; */
    background-image: url('../../../assets/images/steppersInnerImages/before-you-buy-recognizing-small-business-value-drivers.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}
.minute-parent{
    position: relative;
}
.minute-bg {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #dedede;
    padding: 5px 2px;
}
.buyer-tools {
    font-size: 22px;
    padding: 17px 0px;
    font-weight: normal;
}
.bizOwner-tools {
    text-decoration: none;
    font-size: 18px;
}
.closed-img {
    float: left;
    max-width: 100%;
    /* height: 100vh; */
    display: block;
    /* height: 193px; */
    background-image: url('../../../assets/images/closed-business.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}

.bestBusiness-img {
    float: left;
    max-width: 100%;
    /* height: 100vh; */
    display: block;
    /* height: 193px; */
    background-image: url('../../../assets/images/steppersInnerImages/how-to-decide-the-best-busines-to-own.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}

@media screen and (max-width: 990px) {
    .tools-column {
        position: relative;
        /* bottom: 0;
        left: 0; */

    }

}

@media screen and (max-width: 768px) {
    .closed-img {
        height: 50vh;
    }

    .bestBusiness-img {
        height: 50vh;
    }

    .smBvalue-img {
        height: 50vh;
    }

    .smVsbg-img {
        height: 50vh;
    }
}