.multi-img-body {
  display: flex;
  justify-content: center;
}

.upload-bg {
  /* margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px dotted black;
  border-radius: 20px;
  width: fit-content;
  height: 4rem;
  cursor: pointer;
  font-size: large; */
}
.upload-bg {
  /* background-color: #8fc5f5;
  color: white;
  font-weight: bold;
  text-shadow: 2px 2px 2px #1e272e;
  padding: 20px; */
  width: 130px;
  height: 44px;
  padding: 2rem 0;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;

  background-image: url('../../../../../assets/icons/upload-icon.svg');
}
/* .upload-bg:hover {
  box-shadow: 2px 2px 2px #4475a0;
  background-color: #6eb6f5;
} */
.bizOwner-input {
  display: none;
}

/* .bizOwner-images {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 40%;
} */

.bizOwner-images {
  margin: 0.5rem 0.5rem;
  position: relative;
  /* box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px; */
}

.bizOwner-images .cross-btn {
  position: absolute;
  top: 0;
  right: -1px;
  cursor: pointer;
  border: none;
  color: rgb(255, 1, 1);
  background-color: transparent;
}
.multi-img-bg {
  font-size: 18px;
  font-weight: lighter;
}
.upload-btn-2 {
  cursor: pointer;
  display: block;
  margin: 0 auto;
  border: none;
  border-radius: 20px;
  width: fit-content;
  color: white;
  background-color: rgb(64, 155, 221);
  box-shadow: 2px 2px 2px rgb(51, 114, 159);
  font-size: 15px;
}
.upload-btn-2:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.error {
  text-align: center;
}

.error span {
  color: red;
}

.biz_owner_continue_stepper5_btn {
  position: absolute;
  bottom: 14%;
  left: 81.5%;
}
.biz-owner-img-upload {
  width: 100% !important;
}
@media screen and (min-width: 650px) {
  .upload-bg {
    margin-top: 10px !important;
    width: 130px;
    height: 44px;
    padding: 2rem 0;
    background-repeat: no-repeat;
    background-position: center;

    cursor: pointer;
  }
  .biz-owner-img-upload-update {
    width: 100% !important;
    height: 150px !important;
  }
}
