.multi-img-body {
  display: flex;
  justify-content: center;
}

/* .reactEasyCrop_CropAreaGrid {
  min-width: 893px !important;
  min-height: 450px !important;
} */
.reactEasyCrop_Image {
  /* transform: translate(0, -18px) rotate(0deg) scale(1) !important;
   */
  margin: auto !important;
}
.upload-bg {
  /* background-color: #8fc5f5;
  color: white;
  font-weight: bold;
  text-shadow: 2px 2px 2px #1e272e;
  padding: 20px; */
  width: 130px;
  height: 44px;
  padding: 2rem 0;
  background-repeat: no-repeat;
  background-position: center;

  background-image: url('../../../../../assets/icons/upload-icon.svg');
}
/* .upload-bg:hover {
  box-shadow: 2px 2px 2px #4475a0;
  background-color: #6eb6f5;
} */
.bizOwner-input {
  display: none;
}

.bizOwner-images {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* width: 235px; */
}

.bizOwner-images {
  margin: 0.5rem 0.5rem;
  position: relative !important;
}

.bizOwner-images .cross-btn {
  position: absolute !important;
  top: 0;
  right: 0;
  cursor: pointer;
  border: none;
  color: rgb(255, 1, 1);
  background-color: transparent;
}
.multi-img-bg {
  font-size: 18px;
  font-weight: lighter;
}
.upload-btn-2 {
  cursor: pointer;
  display: block;
  margin: 0 auto;
  border: none;
  border-radius: 20px;
  width: fit-content;
  color: white;
  background-color: rgb(64, 155, 221);
  box-shadow: 2px 2px 2px rgb(51, 114, 159);
  font-size: 15px;
}
.upload-btn-2:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.error {
  text-align: center;
}

.error span {
  color: red;
}

.biz_owner_continue_stepper5_btn {
  position: absolute;
  bottom: 14%;
  left: 81.5%;
}
.biz-owner-img-upload {
  width: 100% !important;
}
@media screen and (min-width: 650px) {
  .biz-owner-img-upload {
    width: 265px !important;
  }
}
@media screen and (max-width: 650px) {
  .upload-bg {
    margin-top: 10px !important;
    width: 110px !important;
    height: 44px !important;
    padding: 2rem 0;
    background-position: center;

    background-repeat: no-repeat;
    cursor: pointer;
  }
  .form-label {
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
    font-weight: 400;
    color: #3f4254;
  }

  .css-1s2u09g-control > div {
    font-size: 8px !important;
  }
}
